{% extends 'base.html.twig' %}

{% block title %}Liste des Evènements{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('event_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Ajouter un événement</a>
            <div class="ml-5">
                <h1 class=" text-center ml-5">Listes des évenements</h1>
            </div>
        </div>
        <div class="row mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>logo</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Organisateur</th>
                    <th>Description</th>
                    <th class="text-right">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><img src="{{ asset("images/events/")}}{{ event.picture }}" class="logoShow"></td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.date|date('d/m/Y') }}</td>
                        <td>{{ event.organizer }}</td>
                        <td>{{ event.description }}</td>
                        <td class="text-right">
                            <a href="{{ path('event_show', {'id': event.id}) }}" class="text-right"><i class="far fa-eye"></i></a>
                            <a href="{{ path('event_edit', {'id': event.id}) }}" class="text-right"><i class="fas fa-pen"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun évenement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
