{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <div class="container">
    <h1>Détail de l'évènement</h1>
    <a href="{{ path('event_index') }}"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
        <div class="row">
            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ event.name }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>{{ event.organizer }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ event.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h4>Participants</h4>

    <table class="table text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Société</th>
                <th>Formulaire validé</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.company.name}}</td>
                <td>{% if contact.hasResponse %} oui {% else %} non {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>
    
   <button class="mx-auto button_new btn btn-outline-dark"><a href="{{ path('event_edit', {'id': event.id}) }}">Modifier l'évènement</a></button>

    <a href="{{ path('satisfaction_quizz_new', {'event': event.id}) }}">Créer un Formulaire</a>


    {% include "event/_mail.html.twig" %}


    {{ include('event/_delete_form.html.twig') }}

{% endblock %}
