{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <div class="container">
    <h1>Détail de l'évènement</h1>
    <a href="{{ path('event_index') }}"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
        <div class="row">
            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ event.name }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>{{ event.organizer }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ event.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="mx-auto button_new btn btn-outline-dark"><a href="{{ path('event_edit', {'id': event.id}) }}">Modifier l'évènement</a></button>


    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
