{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('contact_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Ajouter un contact</a>
            <div class="ml-5">
                <h1>Liste des contacts</h1>
            </div>
        </div>

        <div class="row mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>CompanyName</th>

                    <th class="text-right">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.company.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('contact_show', {'id': contact.id}) }}"><i class="far fa-eye"></i></a>
                            <a href="{{ path('contact_edit', {'id': contact.id}) }}"><i class="fas fa-pen"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun contact trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
