{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ contact.company.name }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        J'ai participé à {{ nbEvent.nbEvent }} événements.
    </div>
    <div>
        J'ai rencontré  {{ nbNewContact.nbNewContact }} nouveaux contacts.
    </div>

    <a href="{{ path('contact_index') }}">back to list</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>

{% endblock %}
